{% from "/util.html" import style, styles, scripts, script %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SmartMirror</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}" />	
</head>
<body>
<div id="inside">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
<div id="time">{{ now }}</div>
    <div id="main">
            {% block content %}
{% if name %}
	<div id="textfield">
		<h1>
		Hello, {{ name }}!
		What can I do for you?
		<h1>
	</div>	
{% endif %}
            {% if request.args.get('msg') %}
            <div id="interact">
                {{ request.args.get('msg') }}
            </div>
            {% endif %}
            {% endblock %}
    </div>
</div>
</body>
</html>