<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SmartMirror</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}" />
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    {% block content %}
        <style>

      #time-box {
    border: 3px dashed #F00;
    padding: 10px;
        position: absolute;
        right: 1em;
        top: 0;
        width: auto;
     }

    </style>
<div id="black"></div>
    <div id="time-box">{{ now }}</div>
    {% endblock %}
</body>
</html>