{% extends "base.html" %}
{% block content %}
{{ super() }}
{% if user_name %}
{% endif %}

{{ style("css/weather-icons.css") }}
<div class='weather'>
        <h1>
            <span class="label label-default">Hello, {{ name }}! What can I do you for? ;)</span>
        </h1>
        {% if weather %}
        <div class="panel panel-default">
          <div class="panel-body">
            Wetter für {{ weather['City'] }}

            <p class="temperature" style="font-size: 80px">{{ weather['Temperature'] }}°C | <span><i class="wi wi-{{ weather["Icon"] }}"></i></span> {{ weather["Icon"] }}</p>

                {% for key in weather%}
                    {% if key != "Icon"%}
                        <h1>{{ key }}: {{ weather[key] }}</h1>
                    {% endif %}
                {% endfor %}
          </div>
        </div>

{% else %}
    <p>You don't have a hometown set.</p>
{% endif %}
</div>
{% endblock %}