{% extends "base.html" %}
{% block content %}
{{ super() }}

{{ style("css/weather-icons.css") }}
{% if weather %}
<div class='weather'>
        {% if weather|length != 8 %}
        <div>
            Weather for <big>{{ weather[0]['city'] }}</big> (Last updated: {{ weather[0]['datetime'] }})
            <p class="temperature" style="font-size: 80px">
		{{ weather[0]['temperature'] }}°C | 
		<span><i class="wi wi-{{ weather[0]["icon"] }}"></i></span>
	    </p>
<div id="weatherinfo">
                        {{ weather[0]['summary'] }} &nbsp;|&nbsp;
                        {{ weather[0]['precipProbability']*100 }}%  &nbsp; Regenicon &nbsp;|&nbsp;
                      	Windicon &nbsp; {{ weather[0]['windSpeed'] }} km/h
</div>
          </div>
        {% endif %}
        {% if weather|length > 9 %}
        <div>
          <div>
           <h1>Hourly forecast for the next 12 hours in {{ weather[0]['city'] }}</h1>
              <br>
                {% for dict in weather[1:13]%}
                        <h1>{{ dict['hour'] }}:00 | {{ dict['temperature'] }}°C | <span><i class="wi wi-{{ dict["icon"] }}"></i></span></h1>
                {% endfor %}
          </div>
        </div>
        {% endif %}
        {% if weather|length == 8 %}
        <div>
          <div>
            <h1>Daily forecast for {{ weather[0]['city'] }}</h1>
              <br>

                {% for dict in weather%}
                        <h1>{{ dict['weekday'] }}</h1> <h1> {{ dict['temperatureMin'] }}° / {{ dict['temperatureMax'] }}° </h1><h1><span><i class="wi wi-{{ dict["icon"] }}"></i></span></h1>
                {% endfor %}
          </div>
        </div>
        {% endif %}
	<div id="date">
		<big>{{ weather[0]['weekday'] }}</big><p>{{ weather[0]['date'] }}</p>
		<p>{{ weather[0]['time'] }}</p>
	</div>
{% else %}
    <p>You don't have a hometown set.</p>
{% endif %}
</div>
{% endblock %}