body, html {
    background-color: #DEDEDE !important;
    overflow-x: hidden;
    height:100%;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 30px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden;
    padding-top: 60px; /* Place content 60px from the top */
    transition: 1.2s; /* 0.5 second transition effect to slide in the sidenav */

    word-wrap: none;
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: #111;
}

h1 {
    font-size: 66px !important;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: none;
    transition: 0.5s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:not(:first-child):hover{
    color: #f1f1f1;
    font-size: 30px;
    transition: 1.2s;
}

/* Position and style the close button (top right corner) */
.sidenav #close_sidebar {
    display: none;
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
    cursor:pointer;
}

.sidenav #open_sidebar {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 100%;
    padding: 0;
    transition: 1.2s;
    background-color: #DEDEDE;
    color: #222;
}

.sidenav #open_sidebar:hover {
    cursor: pointer;
    text-decoration: none;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left 0.78s ease-in-out;
    padding: 0px 20px 0 20px;
    margin-left: 30px;
    margin-bottom: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#header {
    font-size: 60px;
    font-weight: bold;
}

#footer{
    position:fixed;
    height:50px;
    background-color:#929292;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
    margin-left: 30px;
}
.vertical_text {
    position: absolute;
    top:120px;
    left:-5px;
    padding: 0;
}

.rotate {
    -webkit-transform: rotate(270deg);
    -webkit-transform-origin: left top;
}

.footer {
    position: relative;
    margin: 10px 20px;
    color:rgb(51,51,51);
    float: left;
}

.footer:first-child {
    margin-left: 100px !important;

}

#footer a:hover {
    text-decoration: none;
    cursor: pointer;
}


.to_top {
    position: fixed;
    bottom: 0px;
    left: 0px;
}